/* === GERAL === */
* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(19, 19, 19);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* === HEADER === */
header {
    background: #c3183a;   
    height: 55px;
}


#logo img {
    padding-top: 3px;
    padding-left: 60px;
    float: left;
}

nav ul {
    list-style: none;
    padding-top: 15px;
    padding-right: 120px;
    float: right;
}

nav ul li {
    padding-right: 10px;
    float: left;
    font-family: Verdana, G eneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    
}

nav ul li a {
    color: rgb(255, 255, 255);
}

nav ul li a:hover {
    color: rgb(19, 19, 19);
}

/* === PRINCIPAL === */

/* === BANNER === */
#banner img {
    width: 100%;
}

/* === CONTEÚDO === */
#logohun {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#novidades {
    margin: auto;
    width: 1080px;
    background: #c3183a;
}

#novidades h2 {
    padding-top: 20px;
    padding-bottom: 30px;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
}

/* === NOVIDADES SECTION === */
#novidades #secoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

#novidades section {
    width: 300px;
    padding-bottom: 20px;
}

#novidades section img {
    width: 100%;
    border-radius: 5px;
}

#novidades section h3 {
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

#novidades section p {
    color: rgb(0, 0, 0);
    padding-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
    
}

/* === FOOTER === */
footer {
    padding-top: 15px;
    padding-bottom: 20px;
}

footer #linha {
    height: 1px;
    width: 720px;
    margin: auto;
    background: #c3183a;
}

footer h4 {
    color: #c3183a;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;
    padding-top: 10px;
}